{% extends 'base.htm' %}

{% block title %} List Movie {% endblock title %}

{% block content %}
<h1 class="my-4 text-center">Exploree your favorite movies!</h1>

<!-- Grid -->
<div class="full-container mx-3">
    <div class="row">
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
        <div class="col-sm card mx-2" style="width:200px">
            <img class="card-img-top"
                src="https://images.unsplash.com/photo-1674519775071-4b5dfd11e4ff?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxNHx8fGVufDB8fHx8&auto=format&fit=crop&w=600&q=60"
                alt="Card image" style="width:100%">
            <div class="card-body">
                <h6 class="card-title">John Doe</h6>
                <p class="card-text "><small>Some example text some example text. John Doe is an architect and
                        engineer</small></p>
                <a href="#" class="btn btn-primary">See Profile</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}